.myHead{
    background-color: teal;
    text-align: center;
}
.weekendSalaryCalculator{
    margin-left: auto;
    margin-right: auto;
}

.inputField{
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
}

.total{
    text-align: right;
    margin-right: 20px;
    font-weight: bolder;
}

.blankRow{
    height: 20 px;
    background-color: grey;
}

.table{
    border: 1px;
    margin-left: auto;
    margin-right: auto;
}

.columnHeaders{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button{
   
}

button:hover{
    background-color: rgb(74, 202, 160);
}

tr:hover{
    background-color: rgb(98, 155, 155);
}